nav {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.contact-row {
    display: flex;
    margin-top: 10%;
    margin-bottom: 15%;
}


.contact-item {
    width: 50vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-item-1 {
    background-color: white;
}

.contact-item-2 {
    background-color: green;
    color: white;
}


.contact-item-1-h1 {
    font-size: 5vw;
    margin-bottom: 5%;
}

.contact-item-1-p {
    margin-bottom: 2%;
    font-size: 1.5vw;
}

.contact-item-2-h3 {
    margin: 1% 0;
    font-size: 5vw;
}

.contact-item-2-p {
    margin-bottom: 1%;
    font-size: 1.5vw;
}

.mail-link {
    margin-bottom: 2%;
    font-size: 1vw;
    color: white;
}