nav {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.balls-banner {
    background-image: url(/img/ball-banner.jpg);
    height: 20vh;
    width: 100%;
    grid-area: 1/1/1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    color: white;
    text-shadow: 3px 4px 6px black;
    font-size: 3vw;
}



main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 0;
}

.card {
    margin: auto;
    width: 80%;
    box-shadow: none;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.76);

}

.card img {
    margin: auto;
    width: 80%;
    object-fit: contain;
    display: block;
}

.ball-card-1 {
    grid-area: 2/1/2/2;
}

.ball-card-2 {
    grid-area: 2/1/2/2;

}

.ball-card-2 {
    grid-area: 2/2/2/3;

}

.ball-card-3 {
    grid-area: 2/3/2/4;

}

.ball-card-4 {
    grid-area: 2/4/2/5;

}

.ball-card-5 {
    grid-area: 2/5/2/6;

}

.ball-card-6 {
    grid-area: 2/6/2/7;

}


.description {
    width: 80%;
    margin: auto;
    padding: 2%;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.76);

}

.description p {
    padding: 0 2%;
    margin: 2% 0;
    font-size: 1vw;
}

.description .brand-type {
    color: grey;
}

.description .price {
    font-size: 1vw;
    color: red;
    font-weight: 700;
}

.balls-1 {
    grid-area: 3/1/3/2;
    background-color: #D9D9D9;

}

.balls-2 {
    grid-area: 3/2/3/3;
    background-color: #D9D9D9;
}

.balls-3 {
    grid-area: 3/3/3/4;
    background-color: #D9D9D9;
}

.balls-4 {
    grid-area: 3/4/3/5;
    background-color: #D9D9D9;
}

.balls-5 {
    grid-area: 3/5/3/6;
    background-color: #D9D9D9;
}

.balls-6 {
    grid-area: 3/6/3/7;
    background-color: #D9D9D9;
}

.club-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 4/1/4/6;
    background-image: url(/img/pexels-kindel-media-6573665\ \(1\).jpg);
    margin: 5% 0;
    width: 100%;
    color: white;
    font-size: 3vw;
    height: 30vh;
    text-shadow: 3px 4px 6px black;
}

.club-text h2 {
    text-decoration: underline;
    color: green;
    font-size: 1.75em;
}

.club-card-1 {
    grid-area: 5/1/5/2;

}

.club-card-2 {
    grid-area: 5/2/5/3;

}

.club-card-3 {
    grid-area: 5/3/5/4;

}

.club-card-4 {
    grid-area: 5/4/5/5;

}

.club-card-5 {
    grid-area: 5/5/5/6;

}

.club-card-6 {
    grid-area: 5/6/5/7;

}

.clubs-1 {
    grid-area: 6/1/6/2;
    background-color: #D9D9D9;

}

.clubs-2 {
    grid-area: 6/2/6/3;
    background-color: #D9D9D9;
}

.clubs-3 {
    grid-area: 6/3/6/4;
    background-color: #D9D9D9;
}

.clubs-4 {
    grid-area: 6/4/6/5;
    background-color: #D9D9D9;
}

.clubs-5 {
    grid-area: 6/5/6/6;
    background-color: #D9D9D9;
}

.clubs-6 {
    grid-area: 6/6/6/7;
    background-color: #D9D9D9;
}

.clothes-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 7/1/7/6;
    background-image: url(/img/pexels-jopwell-1325755.jpg);
    height: 30vh;
    margin: 5% 0;
    width: 100%;
    font-size: 3vw;
    color: white;
    text-shadow: 3px 4px 6px black;
}


.clothes-card-1 {
    grid-area: 8/1/8/2;

}

.clothes-card-2 {
    grid-area: 8/2/8/3;

}

.clothes-card-3 {
    grid-area: 8/3/8/4;

}

.clothes-card-4 {
    grid-area: 8/4/8/5;

}

.clothes-card-5 {
    grid-area: 8/5/8/6;

}

.clothes-card-6 {
    grid-area: 8/6/8/7;

}

.clothes-1 {
    grid-area: 9/1/9/2;
    background-color: #D9D9D9;

}

.clothes-2 {
    grid-area: 9/2/9/3;
    background-color: #D9D9D9;
}

.clothes-3 {
    grid-area: 9/3/9/4;
    background-color: #D9D9D9;
}

.clothes-4 {
    grid-area: 9/4/9/5;
    background-color: #D9D9D9;
}

.clothes-5 {
    grid-area: 9/5/9/6;
    background-color: #D9D9D9;
}

.clothes-6 {
    grid-area: 9/6/9/7;
    background-color: #D9D9D9;
}