@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}


nav {
    width: 100%;

}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 2% 3% 2% 2%;
}

nav ul .logo {
    margin: 0 2% 0 10%;
    width: 10%
}

form input {
    width: 40vw;
    height: 5vh;
    border-radius: 30px;
    background-color: #D9D9D9;
    border: 0;
    padding-left: 50px;
    padding-right: 20px;
    font-size: 1vw;
}

input:focus {
    outline-color: green;
}

.menu a {
    text-decoration: none;
    text-wrap: nowrap;
    padding: 5px 15px;
    color: black;
    font-size: 1vw;
}

.image {
    background-image: url(/img/banner-img3.jpg);
    height: 600px;
    max-width: 2560px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.image h1 {
    margin-top: 7%;
    font-size: 1.625vw;
}

.image p {
    margin-top: 1%;
    font-weight: 600;
    font-size: 1.1vw;
}

.image form {
    margin-top: 2%;

}

.image-button:hover {
    cursor: pointer;
}

.image input {
    color: black;
    width: auto;
    background-color: white;
    text-align: center;
    padding: 0 20px;
    height: 3vh;
    font-size: 0.8vw;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin-top: 4%;
    max-width: 100%;

}

.card {
    margin: auto;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.card img {
    margin: auto;
    width: 80%;
    object-fit: contain;
    display: block;
}

.card-1 {
    grid-area: 1/1/1/2;

}

.card-2 {
    grid-area: 1/2/1/3;

}

.card-3 {
    grid-area: 1/3/1/4;

}

.card-4 {
    grid-area: 1/4/1/5;

}


.description {
    width: 80%;
    margin: auto;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.description p {
    padding: 0 2%;
    margin: 2% 0;
    font-size: 0.9vw;
}

.description .brand-type {
    color: grey;
}

.description .price {
    font-size: 1.25vw;
    color: red;
    font-weight: 700;
}

.description-1 {
    grid-area: 2/1/2/2;
    background-color: #D9D9D9;

}

.description-2 {
    grid-area: 2/2/2/3;
    background-color: #D9D9D9;
}

.description-3 {
    grid-area: 2/3/2/4;
    background-color: #D9D9D9;
}

.description-4 {
    grid-area: 2/4/2/5;
    background-color: #D9D9D9;
}


footer {
    min-width: 100%;
    margin-top: 5%;
}

.row-links {
    background-color: green;

}

.row-links ul {
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: space-evenly;
    list-style: none;
    color: cadetblue;
}

.row-links a {
    text-decoration: none;
    color: white;
    font-size: 1vw;
    font-weight: 500;

}


.row-links a:hover {
    color: green;
}

.payment-methods {
    display: flex;
    color: black;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 1.5%;
}

.payment-methods img {
    margin: 0 2%;
}

.sponsors {
    background-color: green;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;

}

.sponsors img {
    margin: 0 4%;
    height: 80%;
    width: 80%;
}

.fictional {
    background-color: white;
    font-size: 1.2vw;
    margin: 1% 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #000;
    position: absolute;
    height: 4px;
    left: 5%;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

@media screen and (max-width:1400px) {
    .fictional h2 {
        font-size: 1.5em;
    }

    .search-bar {
        display: none;
    }

    nav ul {
        justify-content: center;
    }

    nav ul .logo {
        width: 15%;
    }

    .image {
        background-image: url(/img/banner-image2.jpg)
    }

    footer {
        bottom: 0;
    }

    .image {
        height: 400px;
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 6%;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu a {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu a {
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>a {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: black;
        background-color: #fff;
        text-decoration: none;
    }

    .menu>a:not(:last-child) {
        border-bottom: 1px solid #444;
    }

    .image input {
        font-size: 1vw;
    }




}

@media screen and (max-width:1100px) {
    nav ul .logo {
        width: 16%;
    }

    .image input {
        height: 3vh;
        font-size: 1.25vw;
    }
}

@media screen and (max-width:800px) {
    nav ul .logo {
        width: 22%;
    }

    .card {
        margin: auto;
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }

    .card img {
        margin: auto;
        width: 80%;
        object-fit: contain;
        display: block;
    }

    .card-1 {
        grid-area: 1/2/1/3;

    }

    .card-2 {
        grid-area: 1/3/1/4;

    }

    .card-3 {
        grid-area: 3/2/3/3;

    }

    .card-4 {
        grid-area: 3/3/3/4;

    }


    .description {
        width: 80%;
        margin-bottom: 5%;
        padding: 2%;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }

    .description p {
        padding: 0 2%;
        margin: 2% 0;
        font-size: 1.5vw;
    }

    .description .brand-type {
        color: grey;
    }

    .description .price {
        font-size: 0.75em;
        color: red;
        font-weight: 700;
    }

    .description-1 {
        grid-area: 2/2/2/3;
        background-color: #D9D9D9;

    }

    .description-2 {
        grid-area: 2/3/2/4;
        background-color: #D9D9D9;
    }

    .description-3 {
        grid-area: 4/2/4/3;
        background-color: #D9D9D9;
    }

    .description-4 {
        grid-area: 4/3/4/4;
        background-color: #D9D9D9;
    }

}

@media screen and (max-width:600px) {
    nav ul .logo {
        width: 27%;
    }
}